%h2.display-3 Students

%nav.row.mt-3
  .col-3= link_to_week('Previous', @date.prev_week, 'btn btn-outline-secondary', @filter_params)
  .col-6.text-center
    %h3= @date.current_week? ? 'This Week' : "Week of #{@date.beginning_of_week.to_s(:long)}"
  .col-3.text-right= link_to_week('Next', @date.next_week, 'btn btn-outline-primary', @filter_params)

%nav#student_subnav.mt-5
  .btn-group
    - links_to_student_lists_by_last_name(@date, params[:last_name_starting_with]).each do |link|
      = link
    = link_to 'All', students_path(all: true, date: @date), class: 'btn btn-sm' << (params[:all] ? ' btn-secondary' : ' btn-outline-secondary')

%table#student_registrations.table.mt-3
  %thead
    %tr
      %th Student
      %th Teacher
      = day_name_table_headers(Week::ACTIVITY_DAYS).html_safe
  %tbody
    - @students.each do |student|
      %tr{ id: "student_#{student.id}"}
        %td.student= link_to student.last_name_first_name, student_path(student, date: @date)
        %td.teacher= link_to(student.teacher.name, teacher_path(student.teacher)) if student.teacher
        - Week::ACTIVITY_DAYS.each do |day|
          %td{class: day}= link_to student.activity_for_day_of_week(day.to_sym, @date)&.name, activity_path(student.activity_for_day_of_week(day.to_sym, @date)) if student.activity_for_day_of_week(day.to_sym, @date)
