%h2.display-3 Students

%nav.mt-3
  = link_to 'Previous week', '#', class: 'btn btn-outline-secondary'
  = link_to 'Next week', '#', class: 'btn btn-outline-primary float-right'

%table.table.mt-5
  %thead
    %th Student
    %th Teacher
    %th Tuesday
    %th Thursday
    %th Friday
  %tbody
    - @students.each do |student|
      %tr
        %td= link_to student.to_s, student_path(student)
        %td= 'Mrs. Smith'
        %td= 'Ping Pong'
        %td= 'Eating Grapes'
        %td= 'Coding 101'
