%h2.display-3 Students

%nav.row.mt-3
  .col= link_to 'Previous week', students_path(date: @date.prev_week), class: 'btn btn-outline-secondary'
  .col.text-center
    %h3= @date.current_week? ? 'This Week' : "Week of #{@date.beginning_of_week.to_s(:long)}"
  .col.text-right= link_to 'Next week', students_path(date: @date.next_week), class: 'btn btn-outline-primary'

%nav#student_subnav.mt-5
  .btn-group
    - links_to_student_lists_by_last_name(@date).each do |link|
      = link
    = link_to 'All', students_path(all: true, date: @date), class: 'btn btn-sm btn-outline-secondary'

%table#student_registrations.table.mt-3
  %thead
    %tr
      %th Student
      %th Teacher
      %th Tuesday
      %th Thursday
      %th Friday
  %tbody
    - @students.each do |student|
      %tr{ id: "student_#{student.id}"}
        %td.student= link_to student.last_name_first_name, student_path(student, date: @date)
        %td.teacher= link_to(student.teacher.name, teacher_path(student.teacher)) if student.teacher
        %td.tuesday= link_to student.activity_for_day_of_week(:tuesday, @date)&.name, activity_path(student.activity_for_day_of_week(:tuesday, @date)) if student.activity_for_day_of_week(:tuesday, @date)
        %td.thursday= link_to student.activity_for_day_of_week(:thursday, @date)&.name, activity_path(student.activity_for_day_of_week(:thursday, @date)) if student.activity_for_day_of_week(:thursday, @date)
        %td.friday= link_to student.activity_for_day_of_week(:friday, @date)&.name, activity_path(student.activity_for_day_of_week(:friday, @date)) if student.activity_for_day_of_week(:friday, @date)
