%h2.display-3
  = @student

%nav.row.mt-3
  .col
    = link_to 'Previous week', '#', class: 'btn btn-outline-secondary'
  .col
    = form_for @student, as: :student, url: student_path(@student), html: {class: 'form-inline'} do |f|
      .form-group
        = f.label :teacher
        = f.select :teacher_id, Teacher.all.collect { |t| [t.to_s, t.id] }, {include_blank: 'Choose...'}, {class: 'form-control mx-2'}
        = f.submit 'Ok', class: 'btn btn-outline-success'
  .col
    = link_to 'Next week', '#', class: 'btn btn-outline-primary float-right'

.row.my-5
  - @activities.each do |date, activity|
    .col
      %h3.display-4= date.day_name
      %h4.h3.text-muted.font-weight-light= date.strftime("%B %-e")
      %ul.list-group
        %li.list-group-item.my-2
          %h5= activity.name
          %h6= activity.room
