%h2.display-3
  = @student

%nav.row.mt-3
  .col
    = link_to_previous_week_for_student(@student, @date)
  .col
    = form_for @student, as: :student, url: student_path(@student), html: {class: 'form-inline'} do |f|
      .form-group
        = f.label :teacher
        = f.select :teacher_id, Teacher.all.collect { |t| [t.to_s, t.id] }, {include_blank: 'Choose...'}, {class: 'form-control mx-2'}
        = f.submit 'Ok', class: 'btn btn-outline-success'
  .col
    = link_to_next_week_for_student(@student, @date)

.row.my-5
  - @activities.each do |date, activities|
    .col{id: date.day_name.downcase}
      %h3.display-4= date.day_name
      %h4.h3.text-muted.font-weight-light= date.strftime("%B %-e")
      - if activities.empty? && Date.today < date
        = form_for [@student, Registration.new], url: student_registrations_path(@student) do |f|
          = f.hidden_field :date, value: date
          .form-group
            = f.label :activity_id, class: 'sr-only'
            = f.select :activity_id, @week_of_activities[date].collect { |a| [a.name, a.id] }, {include_blank: 'Choose...'}, required: true, class: 'form-control'
          = f.submit 'Sign Up', class: 'btn btn-success'
      - elsif !activities.empty?
        %ul.list-group
          %li.list-group-item.my-2
            %h5= activities.first.name
            %h6= activities.first.room
