%h2.display-3 Users

.nav
  %h4 Filter
  %ul
    = link_to 'View All', users_path
  %ul
    Status
    %li= link_to 'Active', users_path(status: 'active')
    %li= link_to 'Deactivated', users_path(status: 'deactivated')
  %ul
    Role
    %li= link_to 'Admins', users_path(role: 'admin')
    %li= link_to 'Staff', users_path(role: 'staff')
    %li= link_to 'Students', users_path(role: 'student')

%table#student_registrations.table.mt-5
  %thead
    %tr
      %th Name
      %th E-mail Address
      %th Status
  %tbody
    - @users.each do |u|
      %tr
        %td= u.last_name_first_name
        %td= u.email
        %td
          - if current_user == u
            = u.role.capitalize
          - else
            = form_for u, html: {class: 'form-inline'} do |f|
              = f.select :active, [['Active', true], ['Deactivated', false]], {}, class: 'form-control form-control-sm mr-3'
              = f.select :role, User.roles.keys.map {|k| [k.capitalize, k]}, {} , class: 'form-control form-control-sm mr-3'
              = f.submit 'Update', class: 'btn btn-outline-success btn-sm'
