%h2.display-3 Users

%nav.row.mt-3
  .col.text-center
    = link_to_users('All', {}, @filter_params, excludes: ['status', 'role'], css_class: 'btn' << (params[:status].nil? && params[:role].nil? ? ' btn-secondary' : ' text-secondary'))
    = link_to_users('Active', {status: 'active'}, @filter_params, css_class: 'btn' << (params[:status] == 'active' ? ' btn-secondary' : ' text-secondary'))
    = link_to_users('Deactivated', {status: 'deactivated'}, @filter_params, css_class: 'btn' << (params[:status] == 'deactivated' ? ' btn-secondary' : ' text-secondary'))
    = link_to_users('Admins', {role: 'admin'}, @filter_params, css_class: 'btn' << (params[:role] == 'admin' ? ' btn-secondary' : ' text-secondary'))
    = link_to_users('Staff', {role: 'staff'}, @filter_params, css_class: 'btn' << (params[:role] == 'staff' ? ' btn-secondary' : ' text-secondary'))
    = link_to_users('Students', {role: 'student'}, @filter_params, css_class: 'btn' << (params[:role] == 'student' ? ' btn-secondary' : ' text-secondary'))

%nav#student_subnav.mt-5
  .btn-group
    - pagination_links_by_last_name(@filter_params).each do |link|
      = link
    = link_to_users('All', {}, @filter_params, excludes: ['last_name_starting_with'], css_class: 'btn btn-sm' << (params[:last_name_starting_with] ? ' btn-outline-secondary' : ' btn-secondary'))

%table#student_registrations.table.mt-3
  %thead
    %tr
      %th Name
      %th E-mail Address
      %th Status
  %tbody
    - @users.each do |u|
      %tr
        %td= u.last_name_first_name
        %td= u.email
        %td
          - if current_user == u
            = u.role.capitalize
          - else
            = form_for u, url: user_path(u, @filter_params), html: {class: 'form-inline'} do |f|
              = f.select :active, [['Active', true], ['Deactivated', false]], {}, class: 'form-control form-control-sm mr-3'
              = f.select :role, User.roles.keys.map {|k| [k.capitalize, k]}, {} , class: 'form-control form-control-sm mr-3'
              = f.submit 'Update', class: 'btn btn-outline-success btn-sm'
