%h2.display-3 Users

%table#student_registrations.table.mt-5
  %thead
    %tr
      %th Name
      %th E-mail Address
      %th Status
  %tbody
    - @users.each do |u|
      %tr
        %td= u.last_name_first_name
        %td= u.email
        %td
          - if current_user == u
            = u.role.capitalize
          - else
            = form_for u, html: {class: 'form-inline'} do |f|
              = f.select :active, [['Active', true], ['Deactivated', false]], {}, class: 'form-control form-control-sm mr-3'
              = f.select :role, User.roles.keys.map {|k| [k.capitalize, k]}, {} , class: 'form-control form-control-sm mr-3'
              = f.submit 'Update', class: 'btn btn-outline-success btn-sm'
