%h1 Administration
.row
  .col
    %h2 Schools
  .col.text-right
    = link_to 'Create new school', new_sys_admin_school_path, class: 'btn btn-outline-primary'


%table.table.table-hover
  %thead
    %tr
      %th{scope: 'col'} id
      %th{scope: 'col'} Name
      %th{scope: 'col'} Created
      %th{scope: 'col'} Last Updated
  %tbody
    - @schools.each do |school|
      %tr
        %th{scope: 'row'}= school.id
        %td= link_to school, sys_admin_school_path(school)
        %td= school.created_at.to_s(:long)
        %td= school.updated_at.to_s(:long)
