%h2.display-3= @teacher

%nav.row.mt-3
  .col
    = link_to_previous_week_for_teacher(@teacher, @date)
  .col.text-center
    %h3= @date.current_week? ? 'This Week' : "Week of #{@date.beginning_of_week.to_s(:long)}"
  .col
    = link_to_next_week_for_teacher(@teacher, @date)

%h3.display-4.mt-5
  Students
  %span.badge.badge-pill.badge-secondary.font-weight-light= @teacher.students.count
%table.table
  %thead
    %th Student
    %th Tuesday
    %th Thursday
    %th Friday
  %tbody
    - @teacher.students.each do |student|
      %tr{ id: "student_#{student.id}"}
        %td.student= link_to student.to_s, student_path(student, date: @date)
        %td.tuesday= link_to student.activity_for_day_of_week(:tuesday, @date)&.name, activity_path(student.activity_for_day_of_week(:tuesday, @date)) if student.activity_for_day_of_week(:tuesday, @date)
        %td.thursday= link_to student.activity_for_day_of_week(:thursday, @date)&.name, activity_path(student.activity_for_day_of_week(:thursday, @date)) if student.activity_for_day_of_week(:thursday, @date)
        %td.friday= link_to student.activity_for_day_of_week(:friday, @date)&.name, activity_path(student.activity_for_day_of_week(:friday, @date)) if student.activity_for_day_of_week(:friday, @date)
