%h2.display-3 Attendance

%nav.mt-3.text-center
  %h3= @date.to_s(:long)

%table.table.mt-3
  %thead
    %tr
      %th Student
      %th Teacher
      %th Activity
      %th Status
  %tbody
    - @registrations.each do |registration|
      %tr{ id: "student_#{registration.student.id}" }
        %td.student= link_to registration.student.last_name_first_name, student_path(registration.student, date: registration.activity.date)
        %td.teacher= link_to registration.teacher.name, teacher_path(registration.teacher, date: registration.activity.date)
        %td.activity= link_to registration.activity
        %td.attendance
          %span{class: "badge badge-pill #{registration.late? ? 'badge-warning' : 'badge-danger'}"}= registration.attendance
