%h2.display-3= week_header(@date)

%nav.mt-3
  = link_to_previous_week(@date)
  = link_to_next_week(@date)

.row.mt-5
  - @week_of_activities.each do |date, activities|
    .col
      .h4.float-right
        %span.badge.badge-pill.badge-light.text-muted.font-weight-light= activities.sum(&:capacity)
      %h3.display-4= date.day_name
      = link_to 'Add New Activity', new_activity_path(date: date.to_s), class: 'btn btn-sm btn-outline-success float-right'
      %h4.h3.text-muted.font-weight-light= date.strftime("%B %-e")
      %ul.list-group
        = render activities
