%p#notice= notice

%p
  %b Name:
  = @activity.name
%p
  %b Room:
  = @activity.room
%p
  %b Capacity:
  = @activity.capacity
%p
  %b Date:
  = @activity.date

= link_to 'Edit', edit_activity_path(@activity)
\|
= link_to 'Back', activities_path
