%h2.display-3= truncate @activity.name, length: 34

%nav.mt-3
  = link_to 'Back', activities_path(date: @activity.date), class: 'btn btn-outline-secondary'
  = link_to 'Edit', edit_activity_path(@activity), class: 'btn btn-outline-primary'
  - if current_user.admin?
    = link_to 'Delete', activity_path(@activity, date: @activity.date), method: :delete, data: {confirm: 'Are you sure? Any students will no longer be registered for this activity.'}, class: 'btn btn-outline-danger float-right'

%h3.display-4.mt-5
  = @activity.day_and_room
  %span.badge.badge-pill.badge-light.text-muted= @activity.registrations.count
  %span.badge.badge-pill.badge-secondary.h4= @activity.capacity

%table.table
  %thead
    %tr
      %th Student
      %th Teacher
  %tbody
    - @activity.registrations.each do |registration|
      %tr{ id: "student_#{registration.student.id}" }
        %td.student= link_to registration.student.to_s, student_path(registration.student)
        %td.teacher= link_to registration.teacher, teacher_path(registration.teacher)
