!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %title= "#{Rails.application.config.app_name} #{yield(:title)}"
    /= favicon_link_tag 'favicon.ico'
    %link{href: 'https://fonts.googleapis.com/css?family=Gudea', rel: 'stylesheet'}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"
    = yield :head
  %body{class: "#{controller.controller_name} #{controller.action_name}"}
    %nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      = link_to Rails.application.config.app_name, root_url, class: 'navbar-brand'
      %button.navbar-toggler{type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbar', 'aria-controls': 'navbar', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation' }
        %span.navbar-toggler-icon
      #navbar.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          - if current_user&.staff? || current_user&.admin?
            %li.nav-item= link_to 'Schedule', activities_path, class: 'nav-link'
            %li.nav-item= link_to 'Students', students_path(last_name_starting_with: 'A'), class: 'nav-link'
            %li.nav-item= link_to 'Teachers', teachers_path, class: 'nav-link'
          - if current_user&.admin?
            %li.nav-item= link_to 'Users', users_path(status: 'active', last_name_starting_with: 'A'), class: 'nav-link'
          %li.nav-item= sign_in_or_out_link
    %main.container{role: 'main'}
      - flash.each do |message_type, message|
        .alert.alert-dismissible.fade.show{class: "alert-#{message_type.to_s == 'notice' ? 'success' : 'warning'}"}
          = message
          %button.close{type: 'button', 'data-dismiss': 'alert', 'aria-label': 'Close'}
            %span{'aria-hidden': 'true'} &times;
      = yield
    %footer.container
      %nav
        %ul
          %li= link_to 'Report a Bug', 'https://github.com/osu-cascades/falcon-time/issues', title: 'Issues on GitHub'
          %li= link_to Rails.application.config.school_name, Rails.application.config.school_url, target: '_blank', title: Rails.application.config.school_name
    = debug(params) if Rails.env.development?
