<!DOCTYPE html>
<html>
  <head>
    <title>FalconTime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
    </nav>
    <!-- Delete later. Here for initial devise setup instructions. -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!-- /Delete later. -->
    <%= yield %>
  </body>
</html>
